<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the FDNY Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: View and import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [2]:
#Import the Fire Department of New York City (FDNY) file
fdny_dataset = pd.read_csv('D:\\LEARN\\DATA SCIENCE\\2. Python\\Projects\\Lesson 7 -2\\FDNY\\FDNY.csv')

#### 2: Analyze the dataset

In [4]:
#View the content of the data
fdny_dataset

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [5]:
#View the first five records
fdny_dataset.head(5)

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [6]:
#Skip the duplicate header row
fdny_dataset = pd.read_csv('D:\\LEARN\\DATA SCIENCE\\2. Python\\Projects\\Lesson 7 -2\\FDNY\\FDNY.csv', skiprows=1)

In [7]:
#Verify if the dataset is fixed
fdny_dataset.head(5)

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan

In [8]:
#View the data statistics (Hint: use describe() method)
fdny_dataset.describe()

       FacilityName          FacilityAddress   Borough
count           218                      218       218
unique          218                      218         5
top        Marine 1  33-51 Greenpoint Avenue  Brooklyn
freq              1                        1        66

In [9]:
#View the attributes of the dataset (Hint: view the column names)
fdny_dataset.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [12]:
#View the index of the dataset
fdny_dataset.index

RangeIndex(start=0, stop=218, step=1)

#### 3: Find the total number of fire department facilities in New York city

In [14]:
#Count number of records for each attribute
fdny_dataset.count()

FacilityName       218
FacilityAddress    218
Borough            218
dtype: int64

In [15]:
#view the datatypes of all three attributes
fdny_dataset.dtypes

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

#### 4: Find the total number of fire department facilities in each borough

In [16]:
#Select FDNY information boroughwise
fdny_borough = fdny_dataset.groupby('Borough')

In [19]:
#View FDNY informationn for each borough
fdny_borough.size()

Borough
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64

#### 5: Find the total number of fire department facilities in Manhattan

In [22]:
#Select FDNY information for Manhattan
fdny_manhattan = fdny_borough.get_group('Manhattan')

In [23]:
#View FDNY information for Manhattan
fdny_manhattan.head()

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan